@media screen and (max-width: 1900px)
  .equipment
    &__filter
      flex: 0 0 22vw
    &__goods
      flex: 0 0 55vw
    &__items
      &__item
        justify-content: space-between

  .footer
    &__main
      &__item
        width: 20vw
        &:first-child
          width: 20vw
        &:last-child
          width: 10vw

@media screen and (max-width: 1550px)
  .equipment
    &__title
      margin: 1px 0 15px 3px
    &__info
      display: none
      &__total
        &_mobile
          &_hidden
            display: block
            margin-bottom: 30px
      &_mobile
        &_hidden
          display: flex
      &__total
        display: flex
        align-items: center
      &__img
        margin-right: 9px
    &__filter
      display: none
      padding: 0
      .filter
        &__form
          &-header,
          &-part
            padding: 20px 33px 0
      &_hugescreen
        &_visible
          .filter
            &__form
              &-header
                margin-bottom: 27px
    &__goods
      flex: 0 0 100%
    &__items
      &__pic
        width: 16.55vw
      &__item
        &-02
          width: 20vw

  a.filter
    &__form
      &-reset
        display: none

  .filter
    &__form
      &__buttons
        &_mobile
          &_hidden
            display: flex
            align-items: center
            justify-content: space-between
            padding: 28px 33px 20px
            background-color: $breadcrump-bg
      &__button
        background-color: transparent
        +form-elem-reset
      &__submit
        &__button
          background-color: $cart-bgc
          color: $white-text
          font-family: $font-medium
          font-size: 18px
          line-height: 23px
          letter-spacing: 0.02em
          margin-top: 5px
          padding: 1rem 3rem
          width: 17.62rem
          min-height: 4.85rem
          position: relative
          display: flex
          align-items: center
          justify-content: flex-end
          &::before
            position: absolute
            content: ''
            top: 1.95rem
            left: 3rem
            width: 2.85rem
            height: 0.9rem
            background-image: url(../img/sections/equipment/form-arrows.svg)
            background-repeat: no-repeat
            background-position: center center
            background-size: 100% 100%

  #equipment
    &-sort
      font-weight: 600
    &-filter
      font-size: 18px
      line-height: 22px
      letter-spacing: 0.02em
      color: $header-link-text
      font-family: $font-semibold
    &-total
      margin: -1px 7px 0 5px

  .seo
    &__text
      .wrapper
        max-width: 70vw

  .footer
    &__main
      &__item
        &:last-child
          width: 15vw

@media screen and (max-width: 1440px)
  .main
    &-header
      &__search
        #search-form-input
          width: 35vw
      &__logo
        &-text
          &__item
            &[alt]
              width: 15vw
      &__nav
        &-links
          width: 10vw

  .sub
    &-header
      &__pic
        margin-right: 5px

  .banner
    padding: 55px 0
    &__item
      &:first-child
        flex-direction: column
        align-items: flex-start
    &__text
      margin: 0
      max-width: 50vw
    &__button
      margin-top: 2rem
    &__image
      top: 8vh
      left: unset
      right: 13vw

  .footer
    font-size: 14px
    line-height: 16px
    &__main
      &__item
        &.contacts
          .footer
            &__logo
              .text
                &-pic
                  width: 12vw
            &__socials
              &__links
                display: flex
                flex-direction: column
                .instagram
                  margin-left: -15px
    &__sub
      &__item
        &.dev
          span
            margin-right: 5px

@media screen and ( max-width: 1200px)
  .wrapper
    max-width: 90vw

  .sub
    &-header
      &__text
        font-size: 16px

@media screen and ( max-width: 1024px)
  .sub
    &-header
      &__text
        +small-text

  .main
    &-header
      &__logo
        &-text
          &__item
            &[alt]
              margin: 0
          span
            display: none
      &__nav
        &-links
          width: 15vw

  .banner
    &__text
      max-width: 55vw
    &__button
      width: 15rem
      padding: 1rem 2rem
      min-height: 3.85rem
      &::before
        top: 1.45rem
        left: 2rem
    &__image
      top: 10vh
      right: 6vw

  .equipment
    &__items
      &__sale
        width: 80px
        min-height: 29px
        padding: 5px
        &-text
          font-size: 13px
          &::before
            left: -22px
            top: 1px
      &__cart
        width: 4rem
        height: 4rem

  .filter
    &__form
      &__submit
        &__button
          padding: 1rem
          width: 13.62rem
          &::before
            left: 2rem

  .seo
    &__text
      .wrapper
        max-width: 85vw
        text-align: justify

  .footer
    &__sub
      &__container
        flex-direction: column
        li
          margin-bottom: 5px
    .main
      &-header
        &__logo
          &-text
            span
              display: block

@media screen and ( max-width: 992px )
  .footer
    &__main
      grid-template: repeat(2, min-content)/repeat(2, 1fr)
      &__item
        width: 40vw
        padding-left: 15px
        &:first-child
          width: 40vw
          padding-left: 15px
        &:last-child
          width: 40vw
          padding-left: 15px
        &.contacts
          .footer
            &__logo
              .text
                &-pic
                  width: 15vw
    &__sub
      &__container
        align-items: flex-start
        padding-left: 15px
      &__item
        margin: 0
        &.policy,
        &.data,
        &.dev
          margin: 0

@media screen and ( max-width: 900px)
  .banner
    &__title
      font-size: 32px
      line-height: 36px
    &__text
      font-size: 16px
      line-height: 22px
    &__button
      width: 13rem
      padding: 1rem 1.5rem
      font-size: 17px
      &::before
        left: 1.5rem

  .equipment
    &__items
      grid-gap: 20px
      grid-template: repeat(2, min-content)/repeat(2, 1fr)
      &__title
        font-size: 13px
        line-height: 20px
      &__pic
        width: 21.55vw
      &__item
        &-02
          width: 25vw
    &__info
      margin-bottom: 20px
    &__filter
      &_hugescreen
        &_visible
          top: 25%
          right: 30%
          bottom: -15%
          transform: translate(22%, -20%)

  .modal
    &_close
      top: 3vh
      right: 5vw

  .seo
    &__text
      padding: 140px 0
      &__title
        text-align: center

@media screen and (max-width: 768px)
  .wrapper
    max-width: 100vw
  .main
    &-header
      padding: 18px 0 0
      &__container
        flex-wrap: wrap
        justify-content: center
      &__search
        order: 1
        width: 100vw
        margin-top: 19px
        #search-form-input
          width: 100%
          order: -1
          padding-left: 11vw
        &-icon
          top: 2vh
          left: 6.5vw
      &__nav
        &-links
          width: 20vw
          a
            &:first-child
              display: none
          &_mobile
            &_hidden
              display: block
      &__btn
        width: 28px
      &__logo
        &-container
          margin: 0 35vw 0 5vw
        &-text
          &__item
            &[alt]
              width: 20vw
        &-pic
          width: 23px
          margin-right: 9px

  .sub
    &-header
      display: none
      &__pic
        margin: 0

  .banner
    padding: 41px 0
    min-height: 65vh
    &__item
      &:first-child
        align-items: center
    &__title
      font-family: $font-semibold
      font-size: 28px
      line-height: 36px
      margin: 0 4px 12px
    &__text
      font-size: 15px
      line-height: 22px
      min-width: 75vw
      &__container
        text-align: center
        margin-left: 5px
        align-items: center
    &__button
      font-size: 15px
      line-height: 19px
      letter-spacing: 0.02em
    &__image
      top: 38vh
      right: 38.5vw
      width: 11rem

  .equipment
    padding: 67px 21px 120px
    &__items
      &__pic
        width: 30vw
      &__item
        &-02
          width: 36vw
      &__sale
        width: 110px
        min-height: 36px
        padding: 9px 16px
        &-text
          font-size: 15px
          &::before
            top: 3px
            left: -28px
    &__title
      font-size: 38px
      line-height: 46px

  .seo__text,
  .breadcrumbs
    display: none

  .footer
    padding: 0 30px
    .main
      &-header
        &__logo
          &-container
            margin: 0 0 54px
    &__main
      &__item
        &.contacts
          .footer
            &__logo
              .text
                &-pic
                  width: 18vw

@media screen and ( max-width: 600px)
  .main
    &-header
      &__search
        &-icon
          left: 6vw

  .banner
    &__button
      margin-top: 1rem
    &__image
      right: 35.5vw

  .equipment
    &__title
      font-size: 30px
      line-height: 36px
    &__container
      flex-direction: column
      justify-content: unset
    &__items
      &__content
        padding: 0 15px 0 20px
      &__price
        padding: 0 0 0 21px
        font-size: 16px
        line-height: 20px
        &_old
          font-size: 12px
          line-height: 14px
      &__cart
        width: 3rem
        height: 3rem
      &__sale
        width: 80px
        min-height: 29px
        padding: 5px
        &-text
          font-size: 13px
          &::before
            left: -22px
            top: 1px
  .modal
    &__menu
      &__navigation
        &-title
          font-size: 16px
          line-height: 20px
          font-weight: 600
          &::before
            top: 46% !important
      &__item
        &_hidden
          .modal
            &__menu
              &__navigation
                &-title
                  font-weight: 400
      &__subcontainer
        font-size: 14px
        line-height: 18px
      &__head
        padding: 5px 0
        margin: 0 0 35px -3px
      &_close
        margin: -15px 3px 0 0

  .footer
    &__main
      grid-template: repeat(4, min-content)/repeat(1, 1fr)
      &__item
        width: 80vw
        padding-left: 45px
        &:first-child
          width: 80vw
          padding-left: 45px
        &:last-child
          width: 80vw
          padding-left: 45px
        &.contacts
          .footer
            &__logo
              .text
                &-pic
                  width: 13rem
    &__sub
      &__container
        padding-left: 45px
    .main
      &-header
        &__logo
          &-pic
            width: 40px

@media screen and (max-width: 480px)
  .main
    &-header
      &__btn
        margin-left: 6px
      &__container
        justify-content: space-around
      &__search
        margin-top: 17.5px
        #search-form-input
          padding-left: 12vw
        &-icon
          left: 4.7vw
          top: 2.4vh
      &__nav
        &-links
          width: 27vw
      &__logo
        &-container
          margin: 0 0 0 -10px
        &-text
          &__item
            &[alt]
              width: 37vw
        &-pic
          margin: 0 10px 0 0

  .banner
    min-height: 77vh
    &__button
      width: 14.5rem
      min-height: 3.3rem
      padding: 1.08rem 2.6rem
      margin-right: -5px
      margin-top: 3.25rem
      &::before
        left: 7.8vw
        width: 9.4vw
        top: 3vh
        height: 2vh
    &__image
      top: 48.7vh
      right: 28.5vw

  .equipment
    padding: 67px 15px 120px 21px
    &__title
      font-size: 25px
      line-height: 35px
      margin: 1px 0 15px 0
    &__items
      grid-gap: 15px
      &__item
        &:nth-child(odd)
          .equipment
            &__items
              &__title
                margin-top: 14px
      &__pic
        width: 29vw
        margin: 0 0 0 5px
      &__item
        // &:nth-child(n+7)
        //   display: none
        &-02
          width: 36vw
          margin: 7px 0 0 -4px
        &-02+.equipment
          &__items
            &__title
              margin: 2px 0 13px 3px
        &:nth-child(n+3)
          &.item
            &_02,
            &_03
              display: none
      &__title
        font-size: 14px
        line-height: 19px
        margin: 13px 0 19px 5px
      &__content
        padding: 0 15px 0 12px
      &__price
        padding: 0 0 0 15px
        margin-top: -10px
        &_old
          margin: -1px 0 0 26px
          &::before
            top: 6px
            right: -1px
            width: 3rem
      &__sale
        width: 90px
        max-width: 45%
        &-text
          font-size: 12px
          margin: 1px -17px 0 0
          &::before
            left: -24px
            top: 3px
      &__cart
        width: 2.6rem
        height: 2.6rem
    &__goods
      margin-right: 5px
      &__more
        display: flex
        &_show
          display: flex
          align-items: center
          justify-content: center
          font-size: 15px
          line-height: 28px
          color: $header-link-text
          padding-top: 45px
          position: relative
          margin: 1px auto 0
          &::before
            position: absolute
            content: ''
            bottom: 2px
            right: 0
            left: 0
            height: 2px
            width: 100%
            background-color: $header-link-text
    &__filter
      .checkbox
        &-label
          margin-bottom: 17px
          span
            font-size: 18px
            line-height: 23px
            &::before
              width: 25px
              height: 25px
              margin-right: 25px
      .filter
        &__form
          &-header
            padding: 38px 25px 0
            margin-bottom: 24px
          &-title
            font-size: 25px
            line-height: 28px
          &-part
            padding: 0 20px
            margin-bottom: 42px
            &.amount
              margin-bottom: 39px
              .checkbox
                &-label
                  margin-bottom: 19px
            &.color
              margin-bottom: 20px
              .filter
                &__form
                  &-part
                    &__content
                      margin-left: 8px
              .checkbox
                &-label
                  &_color
                    margin-bottom: 26px
                    span
                      font-size: 19px
                      line-height: 21px
                      &::before
                        margin-right: 30px
                      &::after
                        margin: 5px 0 0 24px
                        width: 12px
                        height: 12px
                    input[type="checkbox"]:checked+span::before
                      margin: 2px 27px 0 -2px
                    input[type="checkbox"]:checked+span::after
                      background-size: 12px 12px
            &__title
              font-size: 20px
              margin-bottom: 35px
            &.brand
              .checkbox
                &-label
                  margin-bottom: 19px
            &.price
              margin-bottom: 7.3rem
              .filter
                &__form
                  &-part
                    &__title
                      margin-bottom: 34px
          &__submit
            &__button
              font-size: 16px
              line-height: 20px
              width: 12.65rem
              min-height: 2.85rem
              padding: 1rem 2.6rem
              &::before
                left: 1.5rem
                top: 1.3rem
                width: 2rem
                height: 1rem
      &_hugescreen
        &_visible
          top: 0
          right: 0
          bottom: 0
          left: -5px
          transform: none
    &__info
      padding: 32px 14px
      margin-bottom: 38px

  #equipment
    &-filter,
    &-sort
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.02em
    &-sort
      background: transparent url(../img/sections/equipment/arrow.svg) no-repeat 85% 60%
      padding: 0px 8px 0 0
      margin-right: -11px
    &-total
      margin: -1px 7px 0 2px

  .slider
    .thumb
      span
        width: 5rem
        font-size: 18px
        line-height: 22px
        bottom: -42px

  .input
    &-left
      left: -2px
    &-right
      right: -37px

  .filter
    &__form
      &__buttons
        &_mobile
          &_hidden
            padding: 20px
      &-reset
        justify-content: unset
        width: 8.35rem
        img
          margin: 10px 0 0 15px

  .footer
    padding: 0 22px
    font-size: 16px
    line-height: 28px
    &__main
      padding: 48px 0 40px
      grid-gap: 47px
      &__item
        padding-left: 0
        margin-left: -2px
        &:first-child
          padding-left: 0
        &:last-child
          padding-left: 0
        &.contacts
          .footer
            &__logo
              margin-bottom: 41px
            &__phone
              &__item
                .time
                  margin-top: -28px
                  div
                    margin-bottom: 0
            &__email
              &__item
                margin: 1px 0 38px -3px
                display: flex
                align-items: center
                .main
                  margin-top: 3px
            &__socials
              margin-left: -4px
              &__links
                flex-direction: row
                .instagram
                  margin: -4px 0 0 1px
          div.footer
            &__phone
              &__item
                margin: 0 0 40px -1px
        .footer
          &__item
            &__title
              margin-bottom: 18px
        &.categories
          margin-bottom: -22px
          &_02
            margin-bottom: -24px
            .footer
              &__main
                &__container
                  margin-left: 4px
      &__container
        li
          margin-bottom: 5px
    &__phone
      &__item
        a
          display: flex
          align-items: center
    .main
      &-header
        &__logo
          &-text
            margin: 8px 0 3px -3px
    &__sub
      &__container
        padding: 56px 0 25px
        margin-left: -2px
        li
          margin-bottom: 22px
          &:last-child
            margin-top: 33px
      &__item
        &.dev
          span
            margin-right: 18px

@media screen and (max-width: 400px)
  .equipment
    padding: 67px 0 120px
    &__info
      &__total
        justify-content: center
    &__goods
      margin-right: 0

@media screen and ( max-width: 375px)
  .banner
    &__button
      margin-top: 1.25rem
    &__image
      top: 50vh
      right: 22.5vw

  .equipment
    &__title
      font-size: 20px
      line-height: 26px
    &__items
      &__title
        font-size: 12px
        line-height: 16px
        margin: 13px 0 15px 0
      &__price
        font-size: 16px
        line-height: 20px
        padding: 0 0 0 10px
        &_old
          margin: -1px 0 0 12px
